---
import type { Location } from '@/generated/directus';
import LocationLink from '@/organisms/location-link.astro';

interface Props {
    locations: Pick<Location, 'slug' | 'name' | 'location_image'>[];
}

const { locations } = Astro.props;
---

<section class="section">
    <ul class="flex justify-center flex-wrap gap-8">
        {locations.map(location => (
            <LocationLink location={location} />
        ))}
    </ul>
</section>
