---
import { Icon } from 'astro-icon/components';

const { class: className } = Astro.props;
---

<button class={className} onclick="history.back()" aria-label="Go back">
    <Icon name="arrow-left" class="h-10 w-10 fill-current" />
</button>
