---
import { Image } from 'astro:assets';
import type { Location } from '@/generated/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

interface Props {
    location: Pick<Location, 'slug' | 'name' | 'location_image'>;
}

const { location } = Astro.props;
const imageUrl = buildAssetUrl(location.location_image);
---

<li>
    <a href={location.slug} class="card bg-base-200 w-60 shadow-2xl">
        <figure>
            <Image class="dimmed-image" src={imageUrl} width="240" height="240" alt={ `Image of ${location.name}` } />
        </figure>

        <div class="card-body">
            <h3 class="card-title">{ location.name }</h3>
        </div>
    </a>
</li>
