---
import { Icon } from 'astro-icon/components';

const { class: className } = Astro.props;
---

<label class={`swap swap-rotate ${className}`}>
    <input type="checkbox" class="theme-controller" value="light" />

    <Icon name="sun" class="swap-off h-10 w-10 fill-current" />
    <Icon name="moon" class="swap-on h-10 w-10 fill-current" />
</label>
