---
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import ThemeToggle from '@/molecules/theme-toggle.astro';
import { parseSeo } from '@/utils/parse-seo';

const global = await directusRequest(readSingleton('global'));

const { title } = parseSeo(global.seo);
---

<navbar class="p-4 w-full flex flex-row justify-between">
    <h1 class="text-4xl">{ title }</h1>

    <ThemeToggle />
</navbar>
