---
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

const { title, subtitle, hero_background } = await directusRequest(readSingleton('welcome'));
const bgImage = buildAssetUrl(hero_background);

const background = `url(${bgImage})`;
---

<style define:vars={{ background }}>
header {
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

    &::before {
        content: '';
        backdrop-filter: brightness(0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
</style>

<header class="w-full grid justify-center content-center">
    <div class="p-2 z-10 w-3xl flex flex-col gap-4">
        <h1 class="text-5xl">{ title }</h1>
        <h3>{ subtitle }</h3>
    </div>
</header>
