---
import { Image } from 'astro:assets';
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

const { title, subtitle, hero_background } = await directusRequest(readSingleton('welcome'));
const bgImage = buildAssetUrl(hero_background);

const background = `url(${bgImage})`;
---

<style define:vars={{ background }}>
header {
    @apply h-screen relative bg-cover bg-center;
    background-image: var(--background);

    &::before {
        @apply backdrop-brightness-25 absolute w-full h-full;
        content: '';
    }
}

:root:has(input.theme-controller[value=light]:checked) header {
    &::before {
        @apply backdrop-brightness-100;
    }
}
</style>

<header class="w-full grid justify-center content-center">
    <div class="p-2 z-10 w-3xl flex flex-col gap-4">
        <h1 class="text-5xl">{ title }</h1>
        <h3>{ subtitle }</h3>
    </div>
</header>
