---
import { Image } from 'astro:assets';
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

const { title, subtitle, hero_image } = await directusRequest(readSingleton('welcome'));
const heroImageUrl = buildAssetUrl(hero_image);
const heroImageAlt = `Welcome image | ${title}`;
---

<header class="section">
    <div class="flex flex-col lg:flex-row gap-12 mt-6">
        <Image
            src={ heroImageUrl }
            width="576"
            height="324"
            alt={ heroImageAlt }
            class="rounded-lg shadow-2xl dimmed-image"
        />

        <div class="flex justify-center flex-col">
            <h1 class="text-5xl font-bold">{ title }</h1>
            <p class="py-6">
                { subtitle }
            </p>
        </div>
    </div>
</header>
