---
import { Image } from 'astro:assets';
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

const { title, subtitle, hero_image } = await directusRequest(readSingleton('welcome'));
const heroImageUrl = buildAssetUrl(hero_image);
---

<header class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <Image
            src={heroImageUrl}
            width="576"
            height="324"
            alt="Hero image"
            class="rounded-lg shadow-2xl dimmed-image"
        />

        <div>
            <h1 class="text-5xl font-bold">{ title }</h1>
            <p class="py-6">
                { subtitle }
            </p>
        </div>
    </div>
</header>
