---
import { Image } from 'astro:assets';
import { readSingleton } from '@directus/sdk';
import { directusRequest } from '@/lib/directus';
import { buildAssetUrl } from '@/utils/build-asset-url';

const { welcome_title, welcome_text, welcome_image } = await directusRequest(readSingleton('main_info'));

const heroImageUrl = buildAssetUrl(welcome_image);
const heroImageAlt = `Welcome image | ${welcome_title}`;
---

<header class="section">
    <div class="flex flex-col lg:flex-row gap-12 mt-6">
        <Image
            src={ heroImageUrl }
            width="576"
            height="324"
            alt={ heroImageAlt }
            class="rounded-lg shadow-2xl dimmed-image"
        />

        <div class="flex justify-center flex-col">
            <h1 class="text-5xl font-bold">{ welcome_title }</h1>
            <p class="py-6" set:html={welcome_text}></p>
        </div>
    </div>
</header>
