---
import '@/styles/global.css';
import { Font } from 'astro:assets';
import { readSingleton } from '@directus/sdk';
import type { DirectusFile } from '@/generated/directus';
import { directusRequest } from '@/lib/directus';
import Footer from '@/organisms/footer.astro';
import { buildAssetUrl } from '@/utils/build-asset-url';
import { parseSeo } from '@/utils/parse-seo';

interface Props {
    title?: string;
    description?: string;
    og_image?: string | DirectusFile;
    no_index?: boolean;
    no_follow?: boolean;
}

const main = await directusRequest(readSingleton('main_info'));

const props = Astro.props;
const seo = parseSeo(main.seo);

let title = seo.title;
let description = seo.meta_description;
let ogImageUrl: string | undefined;
const robots: string[] = [];

if (props.title) {
    title = `${props.title} | ${title}`;
}

if (props.description) {
    description = props.description;
}

if (props.og_image) {
    ogImageUrl = buildAssetUrl(props.og_image);
} else if (seo.og_image) {
    ogImageUrl = buildAssetUrl(seo.og_image);
}

if (props.no_index ?? seo.no_index) {
    robots.push('noindex');
}

if (props.no_follow ?? seo.no_follow) {
    robots.push('nofollow');
}
---

<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8">
        <title>{ seo.title }</title>
        <base href="/">
        <meta name="title" content={ title } />
        <meta name="description" content={ description } />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content={ title } />
        <link rel="manifest" href="/site.webmanifest" />

        <meta name="robots" content={ robots.join(', ') } />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content={ title } />
        <meta property="og:image" content={ ogImageUrl } />
        <meta property="og:description" content={ description } />

        <Font cssVariable="--font-roboto" preload />

        <slot name="head" />
	</head>
	<body class="relative flex flex-col min-h-screen">
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
